//- extends ./layouts/commom
//- block content
h1 Nguyen #{name}
a(href="/users") Users




//- nav(class="navbar navbar-expand-sm bg-light")
//- 	ul(class="navbar-nav")
//- 		li(class="nav-item")
//- 			a(class="nav-link", href="/") Home
//- 		li(class="nav-item")
//- 			a(class="nav-link", href="/users") New
//- 		li(class="nav-item")
//- 			a(class="nav-link", href="/users/create") Create